body{
	padding: 20px;}

h1.title {
	text-align: Center;
	color: DarkCyan;}
	
h1 {
	color: pink;}
	
h2 {
	color: orange;}

p {
	color: purple;}
	
p.imageAdjacent{
	padding: 10px;
	text-indent: 15px;}
	
li {
	color: green;}
	
dt {
	color: gold;}
	
dd {
	color: red;}