h1.title {
	color: DarkCyan;
	text-indent: 5px;}
	
h1 {
	color: pink;
	text-indent: 5px;}
	
h2 {
	color: orange;
	text-indent: 5px;}

p {
	color: purple;
	text-indent: 15px;}
	
p.imageAdjacent{
text-indent: 20px;}

li {
	color: green;
	text-indent: 15px;}
	
dt {
	color: gold;
	text-indent: 15px;}
	
dd {
	color: red;
	text-indent: 15px;}
	
form{
	text-indent: 20px;}
